[Desktop Entry]
Version=2016.2
Type=Application
Terminal=false
Icon[en_US]=/opt/ideaIU/bin/idea.png
Name[en_US]=IntelliJ
Exec=/opt/ideaIU/bin/idea.sh
Name=IntelliJ
Icon=/opt/ideaIU/bin/idea.png
